PORT=3000
PGUSER=USERNAME
PGDATABASE=dbName
PGPASSWORD=thisisnotrealpassword
PGHOST=localhost
PGPORT=5432
PDF_ASSET_BASE_URL=http://localhost:3000
REDIS_URL=redis://127.0.0.1:6379
CLIENT_URL=http://localhost:5173
SESSION_SECRET=thisisfakesessionsecret
RESEND_API_KEY=yeahthisistherealapikey

